<div class="container">

<h1>Log In</h1>

<%= form_tag("/sign-in", method: "post" ) do %>

	<%= label_tag(:email, "Email") %>
	<%= text_field_tag(:email) %>

	<%= label_tag(:password, "Password") %>
	<%= password_field_tag(:password) %>

	<%= submit_tag "Sign In", class: "btn" %>

<% end %>

<%= form_tag("/sign-up", method: "get") do %>
	<%= submit_tag "Sign Up", class: "btn" %>
<% end %>

</div>