<div class="container">

	<div class="center-align">
			<h3>Welcome, <%= current_user.first_name %></h3>
	</div>

	<!-- creates form for current user to post -->
	<div class="row">
		<%= form_for Post.new do |form| %>
			<%= form.label :title %>
			<%= form.text_field :title %>

			<%= form.label :content %>
			<%= form.text_area :content %>

			<%= form.submit class: "btn" %>
		<% end %>
	</div>

	<!-- displays all posts with options to view/delete -->
	<% @posts.each do |post| %>
		<div class="row">
			<div class="col s12 m6">
	    	<div class="card">

	        <div class="card-content">
	          <span class="card-title"><%= post.title %></span>
	          <p>Posted By: <%= post.user.first_name %></p>
						<p><%= post.content %></p>
	        </div>

	        <div class="card-action">
						<%= link_to "View Post", post %>

						<br>

						<%= form_tag("/delete", method: "post") do %>
	        		<%= hidden_field_tag "id", post.id %>
							<%= submit_tag "Delete", class: "btn" %>
						<% end %>
	        </div>
	      </div>
	    </div>
	  </div>
	<% end %>

</div>

