<!DOCTYPE html>
<html>
  <head>
    <title>Day32RailsBlog</title>
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">Railsss</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/home">Home</a></li>
            <li><a href="/users/all">Users</a></li>
            <li><a href="/my-account">My Account</a></li>
            <li><a href="/sign-out">Sign Out</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <%= flash[:notice] if flash[:notice] %>
    <%= flash[:alert] if flash[:alert] %>

    <%= yield %>

  </body>
</html>
